@import '../globals';

:export { 
  primario: $md-blue-600; 
  primarioEscuro: $md-blue-700;
  primarioTransparente: fade-out($md-blue-400, 0.7); 
  secundario: $md-green-600;
  secundarioEscuro: $md-green-700;
  secundarioTransparente: fade-out($md-green-400, 0.7); 
  negativo: $md-red-600;
  negativoEscuro: $md-red-700;
  negativoTransparente: fade-out($md-red-400, 0.7); 
  media: $md-yellow-800;
}