@import 'nvd3/build/nv.d3.min.css';

.nvd3{
  font-family: 'Roboto';
}
.nvd3 text {
  font: normal 13px 'Roboto' !important;
}
.nvd3 .title {
  font: normal 13px 'Roboto' !important;
}
.nvtooltip {
  font-family: 'Roboto' !important;
}