@import '../globals';


.Solicitacao-dialog{
  background-color: $md-grey-50;
}
.Solicitacao-card{
  margin-top: 15px;
}
.Solicitacao-card-text{
  padding-top: 0px;
}
.Solicitacao-card-title{
  padding-top: 16px;
  padding-bottom: 0px;
  & h2 {
    font-size: 20px;
  }
}
.Solicitacao-field{
  margin-top: 0px;
  margin-bottom: 0px;
}