@import '../globals';

@include react-md-everything;

.cmp-autocomplete-wrapper{
  position: relative
}
.cmp-autocomplete-arrow{
  position: absolute;
  top: 10px;
  right: 0px;
}
.cmp-autocomplete-menu{
  //background: rgba(255, 255, 255, 0.9);
  padding: 2px 0;
  position: absolute;
  overflow: auto;
  z-index: 1;
  //max-height: 50%;
}
.cmp-autocomplete-input{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  padding-right: 20px;
  @extend .md-icon-separator;
  @extend .md-text-field;
  @extend .md-select-field--btn;
  @extend .md-text-field;
  @extend .md-transition--standard;
}
.cmp-autocomplete-divider{
  margin-top: -5px !important;
}