.compartilhamento-acoes{
  button{
    margin-right: 15px;
  }
}
.compartilhamento-campo{
  min-width: 350px;
}
.compartilhamento-container{
  display: flex;
}
.compartilhamento-dialogo{
  min-width: 800px;
}
.compartilhamento-tab{
  color: black;
}