@import '../globals';

.icone-pdf{
  color: $md-red-500;
}
.icone-dir{
  color: $md-grey-600;
}
.icone-file{
  color: $md-grey-600;
}
.icone-docx{
  color: $md-blue-600;
}
.icone-doc{
  @extend .icone-docx;
}
.icone-pptx{
  color: $md-orange-700;
}
.icone-ppt{
  @extend .icone-pptx;
}
.icone-xlsx{
  color: $md-green-600;
}
.icone-xls{
  @extend .icone-xlsx;
}
.icone-jpeg{
  color: $md-blue-600;
}