.SelectButton{
  margin: 6px;
  margin-left: 0px;
}

.SelectButton .md-select-field--btn{
    font-weight: 500;
    min-width: 88px;
    padding: 4px 16px !important;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87) !important;
}


