.Solicitacao-card{
  margin-top: 15px;
}
.Select{
  background: none !important;
  border: none !important;
}
.Select-control{
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}