.TabelaValidacao-linha{
  td{
    vertical-align: middle !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
  }
}
.TabelaValidacao-avatar{
  margin-right: 10px;
  margin-left: 0px;
}
